.leftside {
    border-right: 2px solid gray;
    height: 95vh;
    overflow: auto;
    padding: 2rem 2rem;
}

.wrapper {
    height: 95vh;
}

.rightside {
    height: 95vh;
    overflow: auto;
    padding: 2rem 4rem;
}

.cardWrapper {
    margin: 2rem;
}

.hide {
    background: rgba(0, 0, 0, 0.4);
    filter: blur(4px)
}