.CAConfig {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    margin: 20px 0px;
}

.configText {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.configBtn {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.configBtn p {
    font-size: 20px;
}

.addMachineHeading {
    padding-top: 20px;
    padding-left: 20px;
}

.inputField {
    width: 95%;
    padding-left: 20px;
}

tr:hover {
    cursor: pointer;
    /* background: rgb(45, 132, 190) !important; */
}

.addMachineBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listTable {
    width: 95%;
    margin: auto;
    font-size: 20px;
    padding-bottom: 20px;
    height: 260px;
    overflow: auto;
}

::placeholder{
    color: #006064;
}