.contDiv{
   width: 620px;
   background-color:'';
   margin: auto; margin-top: 30px;
   margin-bottom: 50px; 
   position: relative;
   display: flex;
   flex-flow: column;
   align-items: center;
}

.alertDivMessage{
    width: 435px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin: 40px auto; margin-bottom: 0px;
    background-color: #19762d;
    color: white;
    box-shadow: 0px 0px 5px lightgreen;
}

.alertDivError{
    width: 435px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin: 40px auto; margin-bottom: 0px;
    background-color: rgb(175, 19, 19);
    color: white;
    box-shadow: 0px 0px 5px lightgreen;
}
.contDiv .register{
    width: 620px;
}

.contDiv .login{
    width: 620px;
}

.contDiv .row{
    width: 70%;
}

.tabs{
    background-color: #1976d2;  
    width: 100%;
    border-radius: 20px;
}
.tabs .tab {
    background-color: #1976d2;
}
.tabs .tab a{
    background-color: #1976d2;
    color:white;
}
.tabs .tab a:hover {
    background-color: #1976d2;
    color:white;
} 
.tabs .tab a.active {
    background-color:  #1976d2;
    color:white;
} 
.tabs .indicator {
    background-color: blue ;
} 



