*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 62.5% of 16 is 10px */
}

body {

  box-sizing: border-box;
}

.App {
  text-align: center;
}

header {
  //position: relative;
  height: 10rem;
}